<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/analysis.css">
    <link rel="stylesheet" href="static/css/edit.css">
    <link rel="shortcut icon" href="static/images/sport.ico" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>E-shop</title>
</head>
<body>
    {% include "header.html" %}
    {% block content %}

    {% endblock content %}
    <script type="module"  src="static/js/analysis.js"></script>
    <script type="module"  src="static/js/edit_data/index.js"></script>
    <script type="module"  src="static/js/edit_data/client.js"></script>
    <script type="module"  src="static/js/edit_data/invoice.js"></script>
    <script type="module"  src="static/js/edit_data/product.js"></script>
    <script type="module"  src="static/js/edit_data/sale.js"></script>
    <script type="module"  src="static/js/util.js"></script>
</body>
</html>